page-om-manthra {
    @mixin text-center {
        text-align: center;
    }
    .bg-color {
        background-image: url(../../assets/imgs/background.png);
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 60px;
    }
    .om-mantra {
        .label {
            text-align: center;
            font-size: 35px;
            color: white;
            font-weight: bold;
            font-family: sans-serif;
            margin-left: 13px;
            margin-top: 10px;
        }
        .image {
            @include text-center;
        }
        .start-stop {
            @include text-center;
            margin-top: 85px;
        }
    }
}
