page-landing {
    .bg-color {
        background-image: url(../../assets/imgs/background.png);
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 60px;
    }
    
    .booking {
        text-align: center;
        margin: 80px 20px 20px 20px;
        .booking-btn {
            .label {
                padding: 5px;
                background-color: #f7c612;
                border-radius: 10px;
                font-size: 24px;
                font-weight: 500;
                color: #690d0e; 
                border: 5px solid #f6cf41; 
            }                
        }
    }
}
