page-landing {
    .bg-color {
        background-image: url(../../assets/imgs/background.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    ion-navbar.toolbar {
        height: 60px;
    }
    .toolbar-title.toolbar-title-md, 
    .toolbar-title.toolbar-title-ios, 
    .toolbar-title.toolbar-title-wp { 
        color: yellow;
        padding: 12px;
        font-family: initial;
        font-weight: 400;
        font-size: 25px;
        font-weight: bold;
    }
    .booking {
        text-align: center;
        margin: 80px 20px 20px 20px;
        .booking-btn {
            .label {
                padding: 5px;
                background-color: #f7c612;
                border-radius: 10px;
                font-size: 24px;
                font-weight: 500;
                color: #690d0e; 
                border: 5px solid #f6cf41; 
            }                
        }
    }
}
