page-cities {
    .bg-image {
        //  background-color: orange;
        background-image: url(../../assets/imgs/background.png);
        background-size: cover;
        background-repeat: no-repeat;
        div.scroll-content {
            padding: 16px 32px 16px 32px !important;
        }
         img.logo {
            height: 150px !important;
            width: auto !important;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            margin-top: 75px;
            margin-left: 15px;
            }
        img.icons {
            height: 70px;
        }
        p.cityNames {
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 16px;
            color: white;
            font-weight: 200;
        }
        p.label {
            color: white;
            margin: 10px 0px 10px 0px;
            font-size: 37px;
            font-weight: 400;
            }
        hr.cities-horizantal {
            background-color: white;
        }
}
}
