page-photo-viewer {
.b-color {
    background-color: rgba(0, 0, 0, 0.4);
}
 .mt-20 {
     margin-top: 20%;
 }
 .mt-5 {
     margin-top: 5%;
 }
 .box-shadow {
    -webkit-box-shadow: 6px 11px 150px 4px rgba(0,0,0,0.69);
    -moz-box-shadow: 6px 11px 150px 4px rgba(0,0,0,0.69);
    box-shadow: 6px 11px 150px 4px rgba(0,0,0,0.69);
 }
}
